<div class="slides">
    <div [ngStyle]="setStyles()" class="slides-inner">
      <div *ngFor="let slide of slides" [ngStyle]="setSlideStyles()" class="slide">
        <img [src]="slide.src" alt="">
      </div>
    </div>
    <div class="navigation">
        <span (click)="goToPrevious()" >Prev</span>
        <span *ngFor="let slide of slides; let i = index;" (click)="goToNavNumber(i+1)" [class.current]="navNumber == (i+1)" class="nav-number current">{{ i + 1 }}</span>
        <span (click)="goToNext()" >Next</span>
    </div>
</div>