<div class="slides">
    <div style="margin-left:0px; width:2000px" class="slides-inner">
      <div style="width: 400px;" class="slide">
        <img src="/img/slide1.png" alt="">
      </div>
      <div style="width: 400px;" class="slide">
        <img src="/img/slide2.png" alt="">
      </div>
      <div style="width: 400px;" class="slide">
        <img src="/img/slide3.png" alt="">
      </div>
      <div style="width: 400px;" class="slide">
        <img src="/img/slide4.png" alt="">
      </div>
      <div style="width: 400px;" class="slide">
        <img src="/img/slide5.png" alt="">
      </div>
    </div>
    <div class="navigation">
        <span>Prev</span>
        <span class="nav-number current">1</span>
        <span class="nav-number">2</span>
        <span class="nav-number">3</span>
        <span class="nav-number">4</span>
        <span class="nav-number">5</span>
        <span>Next</span>
    </div>
</div>